body {
  /* font settings for the news content */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  background-color: grey;
}
img {
  border-radius: 15px;
}
/* CLASSES: */
.navbt {
  /* CLASS */
  /* navigation button settings */
  padding: 10px;
  border-color: white;
  background-color: white;
  border-radius: 20px;
}
.feed {
  /* CLASS */
  /* settings for the feed-the effective news content */
  border: solid antiquewhite 3px;
  text-align: center;
  margin-top: 20px;
  border-radius: 40px;
  margin-left: 3%;
  margin-right: 3%;
  background-color: antiquewhite;
}
.card {
  /* CLASS */
  /* settings for each card/news content */
  border: solid white 3px;
  border-radius: 20px;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 3%;
  margin-right: 3%;
  background-color: white;
}
/* IDs: */
#title {
  /* ID */
  /* settings for the title */
  text-align: center;
  font-weight: normal;
  /* border-radius: 80px; */
  border: solid rgb(236, 227, 227);
  border-color: darkkhaki;
  background-color: rgb(236, 227, 227);
  font-size: 100px;
  /* margin-right: 120px; */
  /* margin-left:120px */
}
#nav {
  /* ID */
  /* navigation bar settings */
  position: sticky;
  top: 0;
  width: 100%;
  background-color: tomato;
  margin-top: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}
#footer {
  /* ID */
  /* the footer settings-denotes end of news content */
  background-color: tomato;
  color: black;
  text-align: center;
}
